<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>each</title>
</head>
<body>
  <table th:border="1">
    <tr>
      <th>이름</th>
      <th>나이</th>
    </tr>
    <tr th:each="user : ${users}">
      <td th:text="${user.name}"></td>
      <td th:text="${user.age}"></td>
    </tr>
  </table>
  <hr/>
  <table th:border="1">
    <tr>
      <th>No</th>
      <th>이름</th>
      <th>나이</th>
    </tr>
    <tr th:each="user, userStat : ${users}">
      <td th:text="${userStat.count}"></td>
      <td th:text="${user.name}"></td>
      <td th:text="${user.age}"></td>
    </tr>
  </table>
</body>
</html>
